@model DeckBuilder.Models.GameVersion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>GameVersion</legend>

        @Html.HiddenFor(model => model.GameVersionID)
        @Html.HiddenFor(model => model.DevStage)
        @Html.HiddenFor(model => model.StatLog)

        <div class="editor-label">
            @Html.LabelFor(model => model.VersionString)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VersionString)
            @Html.ValidationMessageFor(model => model.VersionString)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModuleName) / Class Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModuleName)
            @Html.ValidationMessageFor(model => model.ModuleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PythonScript)  (@Html.ActionLink("Documentation", "Docs", "Home", null, null))
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PythonScript, 20, 80, null)
            @Html.ValidationMessageFor(model => model.PythonScript)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxPlayers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxPlayers)
            @Html.ValidationMessageFor(model => model.MaxPlayers)

            @for (int i = 2; i <= Model.MaxPlayers; i++)
            {
                <a href = "../Test/@Model.GameVersionID?numPlayers=@i">Test with @i Players</a>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDate)
            @Html.ValidationMessageFor(model => model.CreationDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Mark Version as Stable", "Release", "GameVersion", new { id = Model.GameVersionID }, null)
</div>


<div>
    @Html.ActionLink("Back to List", "Edit", "Game", new { id = Model.ParentGame.GameID }, null)
</div>
