@model DeckBuilder.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>


<table>
    <tr>
        <th>
            Rank
        </th>
        <th>
            Name
        </th>
        <th>
            Win Rate
        </th>
        <th>
            Games Played
        </th>
        <th></th>
    </tr>

@for (var i = 0; i < Model.Rankings.Count; i++)
{
    <tr>
        <td>
            @(i+1)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => Model.Rankings[i].Name)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => Model.Rankings[i].WinRate)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => Model.Rankings[i].GamesPlayed)
        </td>  
    </tr>
}
</table>
<br />

@Html.ActionLink("Add Version", "CreateVersion/"+Model.GameId)

<table>
    <tr>
        <th>
            Version
        </th>
        <th>
            MaxPlayers
        </th>
        <th>
            Dev Stage
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Versions) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VersionString)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.MaxPlayers)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.DevStage)
        </td>  
        <td>
            @Html.ActionLink("Edit", "Edit", "GameVersion", new { id=item.GameVersionID }, null) |
            @Html.ActionLink("Details", "Details", "GameVersion", new { id=item.GameVersionID }, null) |
            @Html.ActionLink("Delete", "Delete", "GameVersion", new { id = item.GameVersionID }, null)
        </td>
    </tr>
}

</table>
