@model DeckBuilder.ViewModels.GameDetailsViewModel

@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>


@Html.ActionLink("Add Version", "CreateVersion/"+Model.GameId)

<table>
    <tr>
        <th>
            Version
        </th>
        <th>
            MaxPlayers
        </th>
        <th>
            Dev Stage
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Versions) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VersionString)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.MaxPlayers)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.DevStage)
        </td>  
        <td>
            @Html.ActionLink("Edit", "Edit", "GameVersion", new { id=item.GameVersionID }, null) |
            @Html.ActionLink("Details", "Details", "GameVersion", new { id=item.GameVersionID }, null) |
            @Html.ActionLink("Delete", "Delete", "GameVersion", new { id = item.GameVersionID }, null)
        </td>
    </tr>
}

</table>
