@model DeckBuilder.Models.Game

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Game</legend>

        @Html.HiddenFor(model => model.GameID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageUrl)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ImageUrl)
            @Html.ValidationMessageFor(model => model.ImageUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>

        <div class="editor-field">            
            @Html.TextAreaFor(model => model.Description, 8, 40, null)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@Html.ActionLink("Add Version", "CreateVersion/"+Model.GameID)

<table>
    <tr>
        <th>
            Version
        </th>
        <th>
            MaxPlayers
        </th>
        <th>
            Dev Stage
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Versions) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VersionString)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.MaxPlayers)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.DevStage)
        </td>  
        <td>
            @Html.ActionLink("Edit", "Edit", "GameVersion", new { id=item.GameVersionID }, null) |            
            @Html.ActionLink("Test", "Test", "GameVersion", new { id=item.GameVersionID }, null) |       
            @Html.ActionLink("Stats", "Stats", "GameVersion", new { id=item.GameVersionID }, null) |   
            @Html.ActionLink("Delete", "Delete", "GameVersion", new { id = item.GameVersionID }, null)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "DeveloperProfile", "Home")
</div>

<br />

<div>
    @Html.ActionLink("Delete Game", "Delete", new { id = Model.GameID })
</div>
