@model IEnumerable<DeckBuilder.Models.Game>

<script src="@Url.Content("~/Scripts/gameList.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if(ViewBag.currentPlayer != "" && ViewBag.currentPlayer != null)
{
    <div><input type="checkbox" />Launch games in new tab.</div>
}

@foreach (var item in Model) {    
    <div class="ListPanelLong">
        <a href="Game/Details/@item.GameID"><span class="PanelLink"></span></a>
            
        <img class="ListPanelImage" alt="@item.Name" 
                        src="@item.ImageUrl" />        
        
        <div class="ListPanelInfo">     
            <div class="ListPanelHeader">@item.Name</div>                   
            <span class = "ListPanelText">Creator: @item.Creator.Name</span>
            <span class = "ListPanelText">Games Played: 25</span>
        </div>

        <div class = "ListPanelDescription">
            <span class = "ListPanelText">@item.Description</span>
        </div>
        @if (ViewBag.currentPlayer != "" && ViewBag.currentPlayer != null)
        {
            <div class = "ListPanelStartMatch">
                @if (item.LatestRelease != null)
                {
                    if (item.LatestRelease.MaxPlayers == 2)
                    {
                        <select style="display:none" id=@item.GameID>
                            @for (var i = 2; i <= item.LatestRelease.MaxPlayers; i++)
                            {
                                <option value=@i>@i</option>
                            }
                        </select>                        
                        <button class="RankedMatchButton" style="margin-top:12px" value="@item.GameID">Play Ranked Match</button>
                    }
                    else
                    {                        
                        <span>Number of Players
                        <select id=@item.GameID>
                            @for (var i = 2; i <= item.LatestRelease.MaxPlayers; i++)
                            {
                                <option value=@i>@i</option>
                            }
                        </select>
                        </span>
                        <button class="RankedMatchButton" value="@item.GameID">Play Ranked Match</button>
                    }
                }
            </div>
        }
    </div>    
}
