@model IEnumerable<DeckBuilder.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@foreach (var item in Model) {    
    <div class="ListPanel">
        <a href="Game/Details/@item.GameID"><span class="PanelLink"></span></a>
            
        <img class="ListPanelImage" alt="@item.Name" 
                        src="@item.ImageUrl" />        
        
        <div class="ListPanelInfo">     
            <div class="ListPanelHeader">@item.Name</div>                   
            <span class = "ListPanelText">Creator: @item.Creator.Name</span>
            <span class = "ListPanelText">Games Played: 25</span>
        </div>

        <div class = "ListPanelDescription">
            <span class = "ListPanelText">@item.Description</span>
        </div>
    </div>    
}
