@{
    ViewBag.Title = "Play";
}

<div class="gameArea">
    <canvas id="canvas" width="800" height="600">
    <p>Your browser does not support the canvas element.</p>
    </canvas>

    <div id="datablock">
        <div style = "float:left">        
            <div id="chat" class="logsection">        
            </div>
            <form id="chatform">
                <input id="chatinput"/>        
                <button id="chatbutton" type = "submit">Say</button>
            </form>
        </div>

        <div style = "float: right">
            <div id="log" class="logsection">        
            </div>
        </div>
    </div>
</div>

<button id = "submitGameMove">Submit</button>



@if (ViewBag.Game == "Geomancer")
{
    <script type="text/javascript">
        window.onload = geomancer_init(@ViewBag.state);    
    </script>
}
else if (ViewBag.Game == "Onslaught")
{
    <script type="text/javascript">
        window.onload = onslaught_init(@ViewBag.state);    
    </script>
}
else if (ViewBag.Game == "Mechtonic")
{
    <script type="text/javascript">
        window.onload = mechtonic_init(@ViewBag.state);    
    </script>
}
else
{ 
    <script type="text/javascript">        
        window.onload = main_init(@ViewBag.state);   
    </script>
}


<script type="text/javascript">

    initPlayArea("@ViewBag.PlayerName", "@ViewBag.TableId");

</script>