@{
    ViewBag.Title = "Play";
}

<div class="gameArea">
    <canvas id="canvas" width="800" height="600">
    <p>Your browser does not support the canvas element.</p>
    </canvas>

    <div id="datablock">
        <div style = "float:left">  
            @if (ViewBag.AvailablePlayers == 0)
            {
                <div id="chat" class="logsection">        
                </div>
                <form id="chatform">
                    <input id="chatinput"/>        
                    <button id="chatbutton" type = "submit">Say</button>
                </form>
            }
            else
            {
                for (int i = 0; i < ViewBag.AvailablePlayers; i++)
                {
                    <a href = "@ViewBag.TableId?playerIndex=@i">Player @i View</a>
                }
                <div id="debug" class="logsection">        
                </div>
            }
        </div>

        <div style = "float: right">
            <div id="log" class="logsection">        
            </div>
        </div>
    </div>
</div>

<button id = "submitGameMove">Submit</button>




<script type="text/javascript">        
    window.onload = main_init(@ViewBag.state);   
</script>



<script type="text/javascript">
    initPlayArea("@ViewBag.PlayerName", "@ViewBag.TableId", "@ViewBag.InitialChatData");
</script>