@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>


<canvas id="canvas" width="800" height="800">
<p>Your browser does not support the canvas element.</p>
</canvas>

<button id = "postheta" >Rotate +</button>
<button id = "negtheta" >Rotate -</button>

<button id = "submitMove">Submit</button>
<button id = "submitGameMove">RealSubmit</button>

<script type="text/javascript">
    window.onload = init(@ViewBag.state, "@ViewBag.TableId");    
</script>


<p>@ViewBag.Results</p>

@if (ViewBag.Finished == true)
{
    <p>@ViewBag.FinalResults</p>
    <p>Final Score</p>
}
else
{
    <p>Current Score (Best to 3 wins)</p>
}
<ul>
<li>@ViewBag.PlayerName : @ViewBag.PlayerScore</li>
<li>@ViewBag.OpponentName : @ViewBag.OpponentScore</li>
</ul>



@ViewBag.Message
@if (ViewBag.YourTurn == true && ViewBag.Finished == false)
{
    @Html.DropDownList("MoveList")
    <input type="button" id="playMove"/>
}

<script type="text/javascript">

    initPlayArea("@ViewBag.PlayerName", "@ViewBag.TableId");

</script>