@model DeckBuilder.Models.Player

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Player</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">ProfileImageUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProfileImageUrl)
    </div>

    <div class="display-label">gamesPlayed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gamesPlayed)
    </div>

    <div class="display-label">gamesWon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gamesWon)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
