@model DeckBuilder.Models.Player

@{
    ViewBag.Title = "Developer Page";
}

<fieldset>

    <div class="ListPanelImage">
        <img src = "@Model.ProfileImageUrl" />
    </div>

    <div class="ListPanelInfo">     
        <div class="ListPanelHeader">@Model.Name</div>                   
        <span class = "ListPanelText">Level: 100</span>
        <span class = "ListPanelText">Exp: 3203</span>
    </div>

    <h2>Active Games</h2>
    @foreach (var item in @Model.ActiveSeats)
    {
        <div>
            @item.Table.Game.Name with
            @foreach (var seat in item.Table.Seats)
            {
                if (@Model.Name != @seat.Player.Name)
                {
                    @seat.Player.Name
                }
            }
            @if (item.Table.TableState == 0)
            {
                <html>(Proposed)</html>
            }
            @if (item.Table.TableState == 2)
            {
                <html>(In-Play)</html>
            }
            @if (item.Table.TableState == 3)
            {
                <html>(Complete)</html>
            }
                    
            @Html.ActionLink("Play", "Play", "Table", new { id = item.TableId }, null)
        </div>
    }
    <h2>Proposed Games</h2>    
    <h2>Completed Games</h2>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
