<script src="@Url.Content("~/Scripts/playerList.js")" type="text/javascript"></script>

@model IEnumerable<DeckBuilder.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model) {    
    <div class="ListPanel">
        <a href="Player/Details/@item.PlayerID"><span class="PanelLink"></span></a>
            
        <img class="ListPanelImage" alt="@item.Name" 
                        src="@item.ProfileImageUrl" />        
        
        <div class="ListPanelInfo">     
            <div class="ListPanelHeader">@item.Name</div>                   
            <span class = "ListPanelText">Level: 100</span>
            <span class = "ListPanelText">Exp: 3203</span>
        </div>

        @if (ViewBag.currentPlayer != @item.Name)
        {
            <div class = "ListPanelInvite">
                <select class="ListPanelSelect" id=@item.PlayerID>                    
                    @for (var i = 0; i < ViewBag.gameNameList.Count; i++)
                    {
                        <option value = @ViewBag.gameVersionList[i]>@ViewBag.gameNameList[i]</option>
                    }
                </select>
                <button class="ListPanelButton" value="@item.PlayerID">Challenge</button>
            </div>
        }
    </div>    
}
