
<script type="text/javascript">
        $(document).ready(function () {
            initNotifications("@ViewBag.Name");
        });   
</script>

<div id="NotificationHover" class="AlertBar">
    <div id="AlertCount">
        <span class=alerts_name>
        Welcome @ViewBag.Name
        </span>
        <span class=alerts_count>
          @ViewBag.NotificationsCount new alerts.
        </span>
    </div>
    <div id="NotificationDropdown">
        <div id="NotificationList">
            @foreach (var notification in ViewBag.Notifications)
            {
                <div class="NotificationMessage">
                @if (notification.Read == true)
                {
                    <a href="@notification.Url"> @notification.Message</a>
                }
                else
                {
                    <a class="UnreadMessage" href="@notification.Url"> @notification.Message</a>
                }
                </div>
                <div class="NotificationRemove" id="@notification.NotificationID">
                X
                </div>
                <br />
            }
        </div>
    @Html.ActionLink("See all notifications...", "Notifications", "Player", new { id = ViewBag.PlayerId }, null)
    </div>
</div><div id="LogoffHover" class="AlertBar">
    @Html.ActionLink("Log Off", "LogOff", "Account")
</div>

<div id="LogonHover" class="AlertBar">
    @Html.ActionLink("Log On", "LogOn", "Account")
    <!--<a href="@Url.Action("LogOn", "Account")" class=imageLink><img class=imageBase src="@Url.Content("~/Content/Images/Site/Logon.png")", alt="LogOn" /></a>-->
    <div id="LogonDropdown">   
        @Html.Action("LogOnPartial", "Account");
    </div>
</div>